h1 {
  font-size: 80px;
  text-align: left;
  font-weight: lighter;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.5);
}

h3 {
  font-size: 40px;
  text-align: left;
  font-weight: lighter;
}

h4 {
  font-size: 16px;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
}
.accordion {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  text-align: left;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 255, 255, 0.8); /* More noticeable glow */
}

/* Optional hover effect to make glow more prominent when user interacts */
.accordion:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 255, 255, 1); /* Increased glow on hover */
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f9f9f9;
  padding: 0 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 8px 8px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
  color: black;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 255, 255, 0.6);
}

/* card image */
.cimg {
  height: 100px;
  width: 100px;
  align-items: center;
}

/*Container layout*/

.containerl {
  padding: 24px;
}

.cgrey {
  background-color: #f1f1f1;
}

.rowl:after {
  content: "";
  display: table;
  clear: both;
}

.columnl-70 {
  float: left;
  width: 70%;
  padding: 20px;
}

.columnl-30 {
  float: left;
  width: 30%;
  padding: 20px;
}

/*about column*/
.columnl-i1 {
  float: left;
  width: 30%;
  padding: 20px;
}

.columnl-i2 {
  float: left;
  width: 70%;
  padding: 20px;
}

.largel-font {
  font-size: 48px;
}

.xlargel-font {
  font-size: 64px;
}

.buttonl {
  background-color: #46696d;
  border: 2px solid #2e3d29;
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.buttonl a {
  color: white;
  text-decoration: none; /* Remove underline from link */
  font-weight: bold;
  transition: color 0.3s;
}
.buttonl a:hover {
  color: rgb(255, 255, 255); /* Keep the color unchanged on hover */
  text-decoration: none; /* Ensure no underline on hover */
}
.buttonl:hover {
  background-color: #222831;
  text-decoration: none;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 191, 174, 0.8), 0 0 30px rgba(0, 191, 174, 0.6);
}
.buttonl:active {
  background-color: #003f7f; /* Even darker green when clicked */
  transform: scale(0.95); /* Slightly push the button down */
}
.imgi {
  display: block;
  height: auto;
  max-width: 100%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.imgj {
  /*about image*/
  display: block;
  max-width: 100%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}
/* .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #b2bdc9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  font-size: 24px;
  color: #000000;
}
body.dark .contact-form h2 {
  color: white;
}
body.dark .contact-form input,
body.dark .contact-form textarea {
  background-color: #333;
  color: white;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}*/

/*responsive columns*/
@media screen and (max-width: 1000px) {
  .columnl-70,
  .columnl-30,
  .columnl-i1,
  .columnl-i2 {
    width: 100%;
    text-align: center;
  }
  .imgi,
  .imgj {
    margin: auto;
  }
}

a:link {
  text-decoration: none;
}
/* View All Projects Button */
.view-all-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #5184bb;
  border: 2px solid #2e3d29;
  border-radius: 7px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.view-all-btn:hover {
  background-color: #222831;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 191, 174, 0.8), 0 0 30px rgba(0, 191, 174, 0.6);
}

.view-all-btn:active {
  background-color: #003f7f;
  transform: scale(0.95);
}

/* Centering the Button */
.view-all-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
  width: 100%;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.9), 0 0 30px rgba(0, 255, 255, 0.7);
}

.padd {
  padding: 0px 40px 0px 40px;
}

@media screen and (max-width: 800px) {
  .padd {
    padding: 0px 0px 0px 0px;
  }
}

/*dark mode elements*/
.switch {
  align-self: flex-end;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: none;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
}

/*projects*/
div.gallery {
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.gallery:hover {
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
}

.img-thumbnail {
  min-height: 100px;
  height: 240px;
  border: 6px solid white;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsivep {
  margin-bottom: 6px;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1030px) {
  .responsivep {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsivep {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*Experiences*/

.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dark,
.dark * {
  background-color: #222831;
  color: white;
  border-color: white;
}

ul {
  position: relative;
  list-style: square;
  margin-left: 0;
  padding-left: 1.2em;
}
ul li:before {
  content: "";
  position: absolute;
  left: 0;
}
/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust the font size and padding for smaller screens */
  .accordion {
    font-size: 14px; /* Smaller font size for mobile */
    padding: 8px 16px; /* Less padding for mobile */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 255, 255, 0.6); /* Less intense glow */
  }

  /* Increased hover glow effect on mobile */
  .accordion:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 255, 255, 1);
  }
}
